<nav class="navbar navbar-default" style="margin-top:1em;">
    <div class="container-fluid">

        {{ knp_menu_render('AppBundle:Builder:adminProductAttachmentMenu', { 'style': 'navbar' }) }}
    </div>
</nav>