{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    
    <div class="container-fluid">
        
        <h1>This feature has not yet been implemented</h1>
        
    </div>
{% endblock %}
