files:
  "/tmp/parameters.yml":
    mode: "000444"
    content: |
      parameters:
        database_driver: pdo_mysql
        mailer_transport: smtp
        mailer_host: 127.0.0.1
        mailer_user: null
        mailer_password: null
        locale: en
        secret: 9399564059
        erp_server: "http://fbx.williams-trading.com:8181"
        erp_username: "webserver"
        erp_password: "Webserver1Password"
        erp_company: "WTC"
        product_attachment_path: "s3://webstore-attachments.williams-trading.com"
		user_download_path: "s3://webstore-downloads.williams-trading.com"

option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /web

container_commands:
  01-params:
    command: cp /tmp/parameters.yml app/config/parameters.yml
  02-params:
    command: chown webapp:webapp app/config/parameters.yml
  03-bootsrap:
    command: php vendor/sensio/distribution-bundle/Sensio/Bundle/DistributionBundle/Resources/bin/build_bootstrap.php
  04-bootsrap:
    command: chown webapp:webapp app/bootstrap.php.cache
  05-cache:
    command: php app/console cache:clear --env=prod --no-debug --no-warmup
  06-cache:
    command: chmod -R 0777 app/cache
  07-logs:
    command: chmod -R 0777 app/logs
  08-cache:
    command: chown -R webapp:webapp app/cache
  09-logs:
    command: chown -R webapp:webapp app/logs
  10-images:
    command: mkdir web/cache
  11-images:
    command: chmod -R 0777 web/cache
  12-images:
    command: chown -R webapp:webapp web/cache
  13-cron:
    command: "cat .ebextensions/cron_jobs.txt > /etc/cron.d/webapp_cron_jobs && chmod 644 /etc/cron.d/webapp_cron_jobs"
