{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block admin_body %}
    
    <h1>Managing Sales Orders</h1>
    
    <p><a href="{{ path('admin_sales_order_missing_tracking') }}">Orders Missing Tracking</a></p>

{% endblock %}
