{% extends 'AdminBundle::layout.html.twig' %}

{% block admin_body %}
    
    {{ include('AdminBundle:Product:nav.html.twig') }}
    
    <h1>Import Products</h1>
    
    {{ form(form) }}
    
{% endblock %}
