{% extends 'admin.html.twig' %}

{% block admin_body %}

    {{ include('admin/product_attachments/nav.html.twig') }}

    {{ form(form) }}

    <p><a class="btn btn-danger" href="{{ path('admin_list_products', app.request.query.all) }}">Cancel</a></p>

{% endblock %}
