{% extends 'admin.html.twig' %}

{% block admin_body %}
    
    {{ include('admin/product_attachments/nav.html.twig') }}
    
    <h1>Import Product Attachments</h1>
    
    {{ form(form) }}
    
{% endblock %}
