<nav class="navbar navbar-default" style="margin-top:1em;">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="{{ path('admin_list_product_attachments') }}">List</a></li>
            <li><a href="{{ path('admin_add_product_attachment') }}">Add</a></li>
            <li><a href="{{ path('admin_import_product_attachments') }}">Import</a></li>
        </ul>
    </div>
</nav>