{% extends 'weborders.html.twig' %}

{% block weborders_body %}

    <h1>Submit Order</h1>

    <div class="row">

        <div class="col-md-6">

            {{ form(form) }}
            
        </div>

        <div class="col-md-6">
            
            {{ render(controller('AppBundle:Weborders:cartSummary')) }}

        </div>

    </div>

{% endblock %}
