{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block admin_body %}

    {{ include('AppBundle:Admin/Product:nav.html.twig') }}

    <div class="col-md-6">

        {{ form(form) }}

    </div>

    <div class="col-md-6 well">

        You will be able to add categories later.

    </div>

{% endblock %}
