{% extends 'admin.html.twig' %}

{% block admin_body %}
    
    {{ include('admin/manufacturers/nav.html.twig') }}
    
    <h1>Import Manufacturers</h1>
    
    {{ form(form) }}
    
{% endblock %}
