{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <h1>Product Lookup</h1>


    <table class="table">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Cart</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}

                <tr>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        {% if not cartCheck(product) %}
                            <form class="form-inline" action="{{ path('cart_add') }}" method="post">
                                <input type="hidden" name="searchTerms" value="{{ product.sku }}">
                                <input class="form-control input-sm" type="text" name="quantity" value="1" size="3">
                                <button class="btn btn-default btn-sm" type="submit">Add to Cart</button>
                            </form>
                        {% else %}
                            Product in cart
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}
