{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <div class="row-fluid">

        <div class="col-sm-9">

            <h1>Home</h1>

            <form class="form-inline" action="{{ path('default_search') }}" method="post">
                <input class="form-control" type="text" name="searchTerms" value="" placeholder="Search...">
                <button class="btn" type="submit">Go</button>
            </form>

        </div>

        <div class="col-sm-3">

            <p>
                Welcome to the <b>beta</b> for the new wholesale order management system
                for Williams Trading Co.
            </p>

            <p>
                Currently, no orders may be placed through this site, however all
                information displayed here is accurate and up-to-date.
            </p>

            <p>
                Orders will <b>not</b> display here until they have been imported into
                our warehouse system. This means that information about new orders 
                placed on the current website may not display here for several hours
                before they have been sent to the warehouse.
            </p>

        </div>

    </div>


{% endblock %}
